.App {
  text-align: center;
}
.navLink{
  padding:15px;
}
#hero-image{
  width: 100vw;
}
#hero-title{
  margin-top: -250px;
}
.header{
  margin-top:208px;
  background-color:black;
  padding: 20px;
}