.App {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  
}
.navLink{
  padding:30px;
  float:right;
  
  color:white !important;
  font-family: 'Rock Salt', cursive;

}
.right-link{
  margin-right:200px;
}
#hero-image{
  width: 100vw;
}
#hero-title{
  margin-top: -275px;
  font-family: 'Rock Salt';
  margin-left:20px;
  font-size:35px;
}
.header{
  
  background-color:black;
  width: 100vw;

}
