.section-body{
    background-color: black;
    color:white;
    height:100%;
    margin-top:-20px;
    padding:100px;
    background-image: url('../public/austinCity.jpg');
    background-repeat: no-repeat;
    height:auto;
    background-attachment: fixed;
    background-position: center;
    
    
}
.section-title{
    font-family: 'Rock Salt',cursive;
}
#logoBordello{
    position:absolute;
    top:30px;
}
#image-1{
    width:300px;
    height:auto;

}
#punkBordello-home-title{
    margin-top:50px;
    font-family: 'Rock Salt', cursive;
}
#punkBordello-home-title:hover {
color:#90ee90;
}

#punkBordello-home-text-body{
    font-family: 'Rock Salt', cursive;
    width:600px;
}
.OnlineStore-section{
    margin-top:30%;
}
#onlineStore-text-body{
    width:610px;
    font-family: 'Rock Salt', cursive;
}
.about-text{
    font-family: 'Rock Salt', cursive;  
}