.section-body{
    background-color: black;
    color:white;
    height:100vh;
    margin-top:-20px;
    padding:100px;
}

#logoBordello{
    position:absolute;
    top:30px;
}
#image-1{
    width:300px;
    height:300px;

}
